appdirs==1.4.3
beautifulsoup4==4.5.3
boto==2.46.1
dj-database-url==0.4.2
Django==1.10.6
django-cleanup==0.4.2
django-forms-bootstrap==3.0.1
django-gravatar2==1.4.0
django-storages==1.5.2
gunicorn==19.7.1
hsaudiotag==1.1.1
lxml==3.7.3
olefile==0.44
packaging==16.8
Pillow==4.0.0
pitchfork==0.1.4
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
