{% extends "register.html" %}

{% block title %}Password reset successful{% endblock %}

{% block body %}

     <div class=" card center padding-t">
    <div class="card-block animated fadeInDown">

        <!--Header-->
        <div class="form-header mycol ">
            <h3><i class="fa fa-envelope"></i> Email Sent Succesfully</h3>
        </div>

        <!--Body-->

        <div class="md-form">
            <p style="font-size:1.5em;">We've e-mailed you instructions for setting your password to the e-mail address you submitted.Please check your email.</p>


        </div>





    </div>
    </div>
{% endblock %}