{% extends "register.html" %}
{% block title %}Setting New password{% endblock %}

{% block body %}
{#    {% if validlink %}#}
{#        #}
{#        <form action="" method="post">#}
{#            <div style="display:none">#}
{#                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">#}
{#            </div>#}
{#            <table>#}
{#                <tr>#}
{#                    <td>{{ form.new_password1.errors }}#}
{#                        <label for="id_new_password1">New password:</label></td>#}
{#                    <td>{{ form.new_password1 }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>{{ form.new_password2.errors }}#}
{#                        <label for="id_new_password2">Confirm password:</label></td>#}
{#                    <td>{{ form.new_password2 }}</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td></td>#}
{#                    <td><input type="submit" value="Change my password" /></td>#}
{#                </tr>#}
{#            </table>#}
{#        </form>#}
{#    {% else %}#}
{#        <h1>Password reset unsuccessful</h1>#}
{#        <p>The password reset link was invalid, <br />#}
{#        possibly because it has already been used. <br />#}
{#        Please request a new password reset.</p>#}
{#    {% endif %}#}

    <div class=" card center padding-t">
    <div class="card-block animated fadeInDown">

        <!--Header-->
        <div class="form-header mycol ">
            <h3><i class="fa fa-lock"></i> New Password</h3>
        </div>

        <!--Body-->
        {% if validlink %}
        <form role="form" method="post" action="">
        <div class="md-form">
            <i class="fa fa-lock prefix"></i>

            {%csrf_token%}
             {{ form.new_password1 }}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">New Password</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>

            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm Password</label>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Submit</button>

        </div>
        </form>
        {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}


    </div>

</div>
{% endblock %}