{% extends "base.html" %}
{#{% load bootstrap_tags %}#}
 {% block navbar %}
<nav class="navbar navbar-toggleable-md  navbar-dark navbar-green ">
    <a class="navbar-brand" href="{%url 'home'%}">
            <strong>My Music</strong>
    </a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="container">

        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="nav navbar-nav ml-auto ">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?next={% url 'home' %}"><span class="fa fa-sign-in" aria-hidden="true"> Login</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'register'%} "><span class=" fa fa-user-plus" aria-hidden="true"> Sign Up</span></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{%url 'about'%} "><span class=" fa fa-info-circle" aria-hidden="true"> About</span></a>
                </li>




            </ul>



        </div>
    </div>
</nav>
{% endblock %}



{% block body %}

    <div class="card center padding-t">
    <div class="card-block animated fadeInDown">

        <!--Header-->
        <div class="form-header  mycol">
            <h3><i class="fa fa-lock"></i> Sign Up</h3>
        </div>

        <!--Body-->
        <form role="form" method="post" action="{% url 'register' %}">
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            {% csrf_token %}
           {{ form.username }}
            <label for="username">Username</label>
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            {{ form.email }}
            <label for="email">email</label>
        </div>
         <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            {{ form.password1 }}
            <label for="password1">Password</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            {{ form.password2 }}
            <label for="password-confirm">Confirm Password</label>
{#            {{ form.errors }}#}
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
        </form>

    </div>

    <!--Footer-->


</div>
<!--/Form with header-->
{#    <div >#}
{#     <form role="form" method="post" action="{% url 'register' %}">#}
{#        <legend>Create a new account</legend>#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <div class="form-group">#}
{#            <button type="submit" class="btn btn-success">Create account </button>#}
{#        </div>#}
{#    </form>#}
{#    </div>#}
{% endblock %}