{%  extends 'base.html' %}

{% block body %}


    <div class="card center padding-t">
    <div class="card-block animated fadeInDown">

        <!--Header-->
        <div class="form-header mycol">
            <h3><i class="fa fa-music"></i> Add Track</h3>
        </div>

        <!--Body-->
        <form  method="POST"  enctype="multipart/form-data">
              <label for="song" class="font-weight-bold">Track</label>
             {% csrf_token %}
        <div class="md-form">
            {% csrf_token %}
            {{ form.file }}

        </div>







        <div class="text-center">
            <button type="submit" class="btn btn-success">Add</button>
        </div>
         </form>


    </div>




</div>




{% endblock %}
