{% extends 'base.html' %}
{% block body %}

    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

 <div class="row">
 {% for album in albums  %}
        <div class="col s12 m7">
          <div class="card small custom-card">
            <div class="card-image ">
            <a href="{%  url 'detail' album.id %}" >
                <img src="{{ MEDIA_URL }}{{ album.artwork }}">


              <span class="card-title"><h4>{{ album.title }}<span title="Track(s)" class=" badge badge-success  pull-right  padding-r " > {{ album.song_set.count }}</span>
                 </h4></span>

            </a>
            </div>
            <div class="card-content">
                <span class="font-bold">By {{ album.artist }}</span><a role="button" title="Delete Album" href="{% url 'deletealbum' album.id %}"><span class="fa fa-trash fa-2x text-danger pull-right padding-r "></span> </a>
            </div>

          </div>
        </div>
 {% endfor %}
      </div>
{% endblock %}