{% extends 'base.html' %}
{% load static %}
{% block custom %}
{#    musicPlayer style sheet###################}

    <link href="{% static 'css/styles.css'%}" rel="stylesheet">
{% endblock %}
{% block body %}
     {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
<div class="container">

<div class="row">
    <div class="col-md-3">
        <img style=" width:200px; height: 200px; "   src="{{MEDIA_URL}}{{album.artwork}}">
        <h6 style="padding-top: 7px; padding-left:5px;font-weight: bold">{{ album.title }}</h6>
        <a role="button" class="btn btn-success" href="{% url 'addsong' album.id %}" >Add Track</a>


    </div>
    <div class="col-md-6">
    {% if album.song_set.count %}
      <table class="table table-hover table-responsive" style="margin-left: auto;">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Duration(mins)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
        {% for song in album.song_set.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ song.title }}</td>
      <td>{{ song.duration }}</td>
      <td><a target="_blank" role="button"  href="{{ MEDIA_URL }}{{ song.file }}"><span class="fa fa-play text-success"></span> </a>&nbsp;
          <a role="button" href="{% url 'deletesong' song.id %}"><span class="fa fa-trash text-danger" ></span></a>
           </td>
    </tr>
{% endfor %}
       </tbody>
</table>
    {% endif %}


    </div>

<div class="col-md-3">

        <div class="player">
            <div class="pl"></div>
            <div class="title"></div>
            <div class="artist"></div>
            <div class="cover"></div>
            <div class="controls">
                <div class="play"></div>
                <div class="pause"></div>
                <div class="rew"></div>
                <div class="fwd"></div>
            </div>
            <div class="volume"></div>
            <div class="tracker"></div>
        </div>
        <ul class="playlist hidden">
            {% for song in album.song_set.all %}
            <li audiourl="{{ song.file.url }}"  cover="{{ album.artwork.url }}"  artist="{{ album.artist }}">{{ song.title }}</li>
            {% endfor %}

        </ul>

    </div>
</div>

</div>












{%endblock%}
{%  block scripts %}
     <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.8.21.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% endblock %}