{% extends 'base.html' %}
{% block body %}


{##}
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

 <div class="row animated zoomIn">

 {% for album in albums  %}
        <div class="col-md-3">
          <div class="card small custom-card">
            <div class="card-image ">
            <a href="{%  url 'detail' album.id %}" >
            <div class="view overlay hm-black-strong">
            <img src="{{ MEDIA_URL }}{{ album.artwork }}">

           <div class="mask flex-center">
             <ul>
        {%  for song in album.song_set.all %}
        <li class="white-text font-bold"> {{ song.title }}</li>
        {% endfor %}
             </ul>
    </div>


</div>



              <span class="card-title"><h4>{{ album.title }}<span title="Track(s)" class=" badge badge-success  pull-right  padding-r " > {{ album.song_set.count }}</span>
                 </h4></span>
                {% if album.year %}
                    <h6>{{ album.year }}</h6>
                    <h6>{{ album.rating }}</h6>
                {% endif %}

{#             %#}
            </a>
            </div>
            <div class="card-content">
                <span class="font-bold">By {{ album.artist }}</span><a id="{{ album.id }}"  class="album"  role="button" title="Delete Album" data-toggle="modal"  data-target="#myModal"><span class="fa fa-trash fa-2x text-danger pull-right padding-r "></span> </a>
            </div>

          </div>
        </div>
 {% endfor %}
      </div>


     {% if songs %}
{#    <div style="overflow:scroll; width: 100vw; height: 100vh; " >#}
    <table class="table table-hover table-responsive   " style="margin-left: 12em;">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Album</th>
      <th>Duration(mins)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for song in songs %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ song.title }}</td>
      <td>{{ song.album }}</td>
      <td>{{ song.duration }}</td>
      <td>
          <a target="_blank" id="songplay" role="button"  href="{{ MEDIA_URL }}{{ song.file }}"><span class="fa fa-play text-success"></span> </a>&nbsp;
          <a role="button" id="{{ song.id }}" class="song" data-toggle="modal"  data-target="#myModal"><span class="fa fa-trash text-danger" ></span></a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{#    </div>#}
{% endif %}
{% endblock %}